<% incidents.each do |incident| %>
  <%= link_to incident do %>
    <div class="card text-center">
      <ul class="list-group list-group-flush" >
        <li class="list-group-item" ><%= sprintf("%008d", incident.id) %></li>
        <li class="list-group-item" ><%= incident.incident %></li>
        <li class="list-group-item" ><%= incident.status.status %></li>
        <li class="list-group-item" ><%= incident.coding_lang.name %></li>
        <li class="list-group-item" ><%= incident.os_name.name %></li>
        <li class="list-group-item" ><%= l incident.created_at, format: :long %></li>
      </ul>
    </div>
  <% end %>
<% end %>

