<h1>Incidents#new</h1>

<%= form_with model: @incident, local: true do |form| %>
  <div>
    <%= form.label :incident, "事象" %>
    <%= form.text_field :incident %>
  </div>
  <div>
    <%= form.label :solution, "解決方法" %>
    <%= form.text_area :solution %>
  </div>
  <div>
    <%= form.submit "発行"%>
  </div>
<% end %>
<div>
  <%= link_to :back do %>
    <button>戻る</button>
  <% end %>
</div>