<h2 class="page-title">参照</h2>
<div class="show-header">
  <h2 class="border-bottom border-dark">No.<%= sprintf("%008d", @incident.id) %></h2>
  <div class="update-buttom">
    <%= link_to "更新", edit_incident_path, class: "btn btn-primary"%>
    <%= link_to "削除", @incident, method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-primary" %>
  </div>
</div>
<div class="show-created-time row">
  <p class="col-2">作成日時</p>
  <p class="col-10"><%= l @incident.created_at, format: :default %></p>
</div>

<div class="show-updated-time row">
  <p class="col-2">更新日時</p>
  <p class="col-10"><%= l @incident.updated_at, format: :default %></p>
</div>

<div class="show-incident row">
  <p class="col-2">事象</p>
  <p class = "border bg-light col-10"><%= @incident.incident %></p>
</div>

<div class="show-solution row">
  <p class="col-2">解決方法</p>
  <p class = "border bg-light col-10"><%= safe_join(@incident.solution.split("\n"), tag(:br)) %></p>
</div>
